<% @title = "Code Test Page" %>

<p>Ruby code sample:</p>

<pre>:::ruby
class Greeter
  def greet(person)
    puts "Hello #{person}!"
  end
end

g = Greeter.new
g.greet('World')
</pre>

<p>CSS code sample:</p>

<pre>:::css
a.button {
  background: black;
  color: white;
  padding: 10px 20px;
  @include border-radius(5px);
}
</pre>
